Options -MultiViews
RewriteEngine On
RewriteBase /alanya/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]

<FilesMatch "\.html$">
  Header set Cache-Control "no-store, no-cache, must-revalidate"
  Header set Pragma "no-cache"
</FilesMatch>
